@model RoleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-5 w-75">Role Details</h1>


<div class="tab-content" id="myTabContent">
    <!-- General Tab Content -->
    <div class="tab-pane fade show active p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">

        <div>
            <div class="form-group mb-3 ">
                <label class="form-label" asp-for="Id"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group mb-3 ">
                <label class="form-label" asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" readonly />
            </div>
           

        </div>
    </div>


    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="Model.Id" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
    </div>
</div>