
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
         
        <p> <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"> Check Your Inbox Now</a></p>
    </div>
</div>